.content {
    width: 98%;
    margin: 0 auto;
    border: 1px #000000 solid;

}
.btn {
    line-height: 2;
    font-size: 14px;
}
.main-content {
    margin: 0 auto;
}
.avatar,.content_information,.check_button{
    display: inline;
    float:left;
}
.main-content {
    margin-top: 10px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}
.content_information {
    margin-left: 20px;
    padding: 4px;
}
.check_button {
    height: 97px;
    margin-top:30px;
}
#main ul li {
    list-style: none;
}
#main li {
    margin-bottom: 12px;
}
.avatar img {
    height: 150px;
    width:150px;
}
